.postsList {    
    &-grid {
        padding-top: 20px;
        & .MuiPaper-root {
            @extend .flex-centered-space-between-col;
            background-color: $mainBackgroundColor;
            color: $mainWhiteColor;
        }

        .MuiCardContent-root {padding: 16px 16px 0px 16px;}

        & .item {margin-left: 35px;}
    }
}

.post {
    min-width: 200px;
    height: 250px;

    &-content {
        line-height: 1.3;
        overflow-wrap: break-word;
    }

    & .datePosted {
        font-size: 11.5px;
        margin-top: -10px;
        margin-right: -5px;
        
        & .label {
            color: $mainBlueColor;
            margin-bottom: 3px;
            text-align: end;
            &.sent {color: #32C809;}
        }
    }
}