$mainBackgroundColor: #142535;
$secondaryBackgroundColor: #313C4B;
$mainBlueColor: #3f6fff;
$hoverButtonColor: #0134B4;
$mainWhiteColor: #ffffff;
$mainBlackColor: #000000;
$mainRedColor: #D80612;
$mainHoverColor: #415164;
$secondaryHoverColor: #e6e6e6;