.margin-l-5 {margin-left: 5px;}
.margin-l-10 {margin-left: 10px;}
.margin-l-15 {margin-left: 15px;}

.margin-r-5 {margin-right: 5px;}
.margin-r-10 {margin-right: 10px;}
.margin-r-20 {margin-right: 20px;}

.margin-t-3 {margin-top: 3px;}
.margin-t-10 {margin-top: 10px;}
.margin-t-15 {margin-top: 15px;}