.modal {
    & .MuiPaper-root {
        background-color: $mainBackgroundColor;
        color: $mainWhiteColor;
        min-height: 400px;
        padding: 10px;
    }
    & .MuiRadio-root {
        color: $mainWhiteColor;

        &.Mui-checked {color: $mainBlueColor;}
    }
    & .MuiFormControlLabel-root {
        & .MuiFormControlLabel-label.Mui-disabled, .Mui-disabled{
            color: $mainWhiteColor;
            opacity: 0.3;
        }
    }

    & .MuiTypography-h6.MuiDialogTitle-root {
        margin-bottom: 7px;
        padding: 8px 17px;
    }

    & .PrivateSwitchBase-input {display: none;}

    & .MuiDialogContent-root {padding: 0 17px;}

    &.editMode {
        & .MuiPaper-root {min-height: 350px;}
    }
}

.modalTooltip {
    &.MuiTooltip-popper .MuiTooltip-tooltip {
        margin: -5px 15px!important;
        background-color: $mainBlueColor;
    }
}

.modalCalendar {
    &.react-datepicker {
        &-wrapper {
            border: none;
            width: unset;
            margin-bottom: 4px;
        }
    
        &__input-container input {
            border-radius: 3px;
            border: none;
            padding: 6px;
    
            &:focus-visible {
                outline: 1px solid $mainBlueColor;
                border: none;
                margin: 0;
            }
        }
    }
}

.react-datepicker {
    &__tab-loop {
        position: fixed;
        .react-datepicker-popper {margin-top: 5px; margin-left: 16px;}
    }
    &-popper {
        position: unset!important;
        & .react-datepicker__triangle {display: none;}
    }
}

.modalTextArea {
    &.MuiFormControl-root.MuiTextField-root.modalTextArea {
        width: 100%;
        margin-top: 25px;
        border-color: transparent;
        
        &:hover {
            & .MuiOutlinedInput-notchedOutline {border-color: $mainWhiteColor;}
        }
    }
    & .MuiOutlinedInput-notchedOutline {border-color: $mainWhiteColor;}
    & .MuiOutlinedInput-root.MuiInputBase-root {color: $mainWhiteColor;}
    & .Mui-focused fieldset {border: 1.5px solid $mainWhiteColor!important;}
}