.navigationBar {
    &.MuiPaper-root {
        @extend .flex-centered-column;
        border-bottom: 0.2px solid $mainBlackColor;
        background-color: $mainBackgroundColor;
        box-shadow: none;
        min-height: 70px;
    }

    & .MuiContainer-root {max-width: none;}
        
    & .logoIcon {fill: $mainBlueColor;}
    
    & .MuiButton-text {@extend .mainFont;}
}