.verticalMenu {
    @extend .mainOptionFont;
    background-color: $mainBackgroundColor;
    color: $mainWhiteColor;
    width: 200px;
    min-height: calc(100vh - 75px);
    padding-top: 5px;

    & .MuiButtonBase-root {
        color: $mainWhiteColor;
        background-color: $mainBackgroundColor;
        border: none;
        padding: 0 16px 0 0;
    }

    & .MuiAccordion-root {
        box-shadow: none;

        & .MuiSvgIcon-root {fill: $mainWhiteColor;}

        & .MuiAccordionDetails-root {
            color: $mainWhiteColor;
            background-color: $mainBackgroundColor;
        }
    }

    & .MuiAccordionDetails-root {padding: 0;}

    & .MuiAccordionSummary {
        &-content.Mui-expanded {
            margin: 0;
            min-height: none;
        }
        &-expandIconWrapper {margin-top: 3px;}
        &-root.MuiAccordionSummary-gutters {height: 52px;}
    }

    & .MuiAccordionSummary-expandIconWrapper {}

    .MuiAccordionSummary-root.MuiAccordionSummary-gutters {
        height: 52px;
    }

    & .menuOption {
        cursor: pointer;

        &:hover {
            background-color: $mainHoverColor;
            color: $mainBlueColor;

            svg path {fill: $mainBlueColor;}
        }

        &.primaryOption {padding: 16px;}

        &.secondaryOption {padding: 10px 30px;}
    }

    & .MuiButtonBase-root {
        &:hover {
            background-color: $mainHoverColor;
            color: $mainBlueColor;
        }
    }
}